<div>
  <div class="hero-image">

  <div class="hero-center">
  <div *ngIf="!registerMode" style="text-align: center">

    <h1>Find your match</h1>
    <p  *ngIf="!loggedIn(); else notShow" class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <ng-template #notShow>
        <p>
          Continue your search for your special someone!!!
        </p>
    </ng-template>
    <div *ngIf="!loggedIn()" class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button [disabled]="true" class="btn btn-info btn-lg">Learn more</button>
      <!-- <button class="btn btn-info btn-lg">Learn more</button> -->
    </div>
  </div>
</div>
  <div *ngIf="registerMode" class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-4">
      <!-- register -->
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>


</div>

